<div class="file-upload">
  <label [for]="inputId" *ngIf="!url">
    <i
      aria-hidden="true"
      class="mr-2"
      nz-icon
      nzType="upload"
      nzTheme="outline"
    ></i>
    <span>Chọn file</span>
  </label>
  <ng-container *ngIf="url">
    <div class="preview" *ngIf="type === 'image'">
      <i
        aria-hidden="true"
        nz-icon
        nzType="close-circle"
        nzTheme="fill"
        (click)="removeFile()"
      ></i>
      <img [src]="content" alt="" />
    </div>
    <div *ngIf="type === 'video'" class="preview">
      <i
        aria-hidden="true"
        nz-icon
        nzType="close-circle"
        nzTheme="fill"
        (click)="removeFile()"
      ></i>
      <video [src]="content" height="200" controls></video>
    </div>
  </ng-container>
</div>
<input
  #attachment
  [id]="inputId"
  type="file"
  class="d-none"
  [accept]="type + '/*'"
  (change)="onFileChanged($event)"
/>
