<form [formGroup]="form" autocomplete="off">
  <div class="row">
    <div class="col-md-6">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" >E-mail</nz-form-label>
        <nz-form-control [nzErrorTip]="errorEmailTpl">
          <input
            nz-input
            formControlName="email"
            placeholder="Nhập Email"
            name="email"
            autocomplete="chrome-off"
          />
        </nz-form-control>
        <ng-template #errorEmailTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Vui lòng nhập Email
          </ng-container>
          <ng-container *ngIf="control.hasError('emailRules')">
            Không đúng định dạng email
          </ng-container>
          <ng-container *ngIf="control.hasError('notUnique')">
            Email đã tồn tại trên hệ thống
          </ng-container>
        </ng-template>
      </nz-form-item>
    </div>
    <div class="col-md-6">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" >Password</nz-form-label>
        <nz-form-control [nzErrorTip]="errorPasswordTpl">
          <input
            [type]="'password'"
            nz-input
            formControlName="password"
            placeholder="Nhập mật khẩu"
            autocomplete="off"
          />
          <ng-template #errorPasswordTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Vui lòng nhập mật khẩu
            </ng-container>
            <ng-container *ngIf="control.hasError('passwordRules')">
              Mật khẩu cần từ 8 kí tự,có kí tự in hoa,in thường và số
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-6">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" >Họ và tên</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập họ và tên'">
          <input
            nz-input
            formControlName="fullName"
            placeholder="Nhập Họ và tên"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-6">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" >Số điện thoại</nz-form-label>
        <nz-form-control >
          <input
            nz-input
            formControlName="phone"
            placeholder="Nhập Số điện thoại"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-6">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" >Video</nz-form-label>
        <nz-form-control>
          <app-file-upload-control
            formControlName="video"
            [type]="'video'"
          ></app-file-upload-control>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-6">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" >Hình ảnh</nz-form-label>
        <nz-form-control [nzErrorTip]="'Vui lòng nhập mô tả'">
          <app-file-upload-control
            formControlName="image"
            [type]="'image'"
          ></app-file-upload-control>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" nz-button nzType="primary" (click)="submitForm()">
      Tạo mới
    </button>
  </div>
</form>
